<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="big.ac.cn.web.mapper.SearchMapper">
    <resultMap id="BaseResultMap" type="big.ac.cn.web.entity.VarInfo">
        <result column="chrom" jdbcType="CHAR" property="chrom"/>
        <result column="var_start" jdbcType="INTEGER" property="varStart"/>
        <result column="var_end" jdbcType="INTEGER" property="varEnd"/>
        <result column="ref_allele" jdbcType="VARCHAR" property="refallele"/>
        <result column="var_allele" jdbcType="VARCHAR" property="varallele"/>

        <result column="func" jdbcType="VARCHAR" property="func"/>
        <result column="refGene" jdbcType="VARCHAR" property="refGene"/>
        <result column="detailGene" jdbcType="VARCHAR" property="detailGene"/>
        <result column="exonic" jdbcType="VARCHAR" property="exonic"/>
        <result column="aachange" jdbcType="VARCHAR" property="aachange"/>
        <result column="ensGene" jdbcType="VARCHAR" property="ensGene"/>
        <result column="snp138" jdbcType="VARCHAR" property="snp138"/>
        <result column="dbsnpid" jdbcType="VARCHAR" property="dbsnpid"/>

        <result column="eas" jdbcType="FLOAT" property="eas"/>
        <result column="sas" jdbcType="FLOAT" property="sas"/>
        <result column="afr" jdbcType="FLOAT" property="afr"/>
        <result column="amr" jdbcType="FLOAT" property="amr"/>
        <result column="eur" jdbcType="FLOAT" property="eur"/>
        <result column="pubid" jdbcType="INTEGER" property="pubid"/>
        <result column="journal" jdbcType="VARCHAR" property="journal"/>
        <result column="disease" jdbcType="VARCHAR" property="disease"/>
    </resultMap>
    <sql id="Base_Column_List">
    chrom, var_start, var_end, ref_allele, var_allele,func,refGene,detailGene,exonic,aachange,ensGene,snp138,dbsnpid,eas,sas,afr,amr,eur,pubid,journal,disease
  </sql>
    <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from table1-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->

    <!--<select id="selectByVarId" parameterType="HashMap" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from table1-->
        <!--where var_id = #{varid,jdbcType=VARCHAR}-->
    <!--</select>-->

    <select id="selectByTerms" parameterType="HashMap" resultMap="BaseResultMap">
        select
        chrom, var_start, var_end, ref_allele, var_allele,func,refGene,detailGene,exonic,aachange,ensGene,snp138,dbsnpid,eas,sas,afr,amr,eur,pubid,journal,disease
        from ${tabIndex}
        <where>
            <if test="chrom!=null and chrom!='' and varStart!=null and varStart!=''">
                chrom=#{chrom,jdbcType=CHAR} and var_start = #{varStart,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectByPos" parameterType="HashMap" resultMap="BaseResultMap">
        select
        chrom, var_start, var_end, ref_allele, var_allele,func,refGene,detailGene,exonic,aachange,ensGene,snp138,dbsnpid,eas,sas,afr,amr,eur,pubid,journal,disease
        from ${tabIndex}
        <where>
            <if test="chrom!=null and chrom!='' and varStart!=null and varStart!='' and varEnd!=null and varEnd!=''">
                chrom=#{chrom,jdbcType=CHAR} and var_end &gt;=  #{varStart,jdbcType=INTEGER} and var_start &lt;= #{varEnd,jdbcType=INTEGER}
            </if>
        </where>
    </select>


</mapper>